:root {
  --block-background-color: red;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  background-color: black;
}

body {
  line-height: 1.3;
  font-size: 100%;
  height: 100%;
  overflow: none;
  font-family: 'Inter', sans-serif;
  -webkit-animation: fadein 5s;
          animation: fadein 5s;
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

body,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

.aurora {
  background-color: #46bb90;
  background-image: linear-gradient(315deg, #56b946 0%, #416db5 74%, #694099 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

header {
  color: #46bb90;
  background-color: #000000;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Inter', sans-serif;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10rem 0;
}

header .aurora {
  background-color: #abe9cd;
  background-image: linear-gradient(315deg, #abe9cd 0%, #3eadcf 74%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Inter', sans-serif;
}

header .links a,
header .links a:visited,
header .links a:active {
  margin: 0 0.625rem;
  font-size: 1.25rem;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.623);
  font-weight: 100;
  -webkit-transition: 300ms;
  transition: 300ms;
  cursor: pointer;
}

header .links a:hover {
  font-weight: 800;
  color: white;
  border-bottom: 3px solid white;
}

@media screen and (max-width: 480px) {
  header .hero-punch {
    font-size: 3rem;
  }
  header h1 {
    font-size: 1.5rem;
  }
  header h2 {
    font-size: 1rem;
  }
}

.hero-punch {
  font-size: 4rem;
  padding-bottom: 0.625rem;
}

.first-section {
  padding: 3rem 1.2rem;
  word-wrap: break-word;
  background-color: #000000;
  color: white;
}

.first-section .subheading {
  font-family: 'Inter', sans-serif;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 10px;
  font-size: 2.5rem;
}

.first-section p {
  font-family: 'Inter', sans-serif;
  font-size: 1.2rem;
}

.first-section h3 {
  font-family: 'Inter', sans-serif;
  font-size: 1.5rem;
}

.first-section .glass {
  backdrop-filter: blur(16px) saturate(200%);
  -webkit-backdrop-filter: blur(16px) saturate(200%);
  background-color: rgba(16, 49, 97, 0.11);
  border-radius: 12px !important;
  margin: 0.625rem 0.625rem;
}

.first-section .aurora {
  background-color: #abe9cd;
  background-image: linear-gradient(315deg, #abe9cd 0%, #3eadcf 74%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.glass-spesh {
  backdrop-filter: blur(16px) saturate(200%);
  -webkit-backdrop-filter: blur(16px) saturate(200%);
  background-color: rgba(16, 49, 97, 0.11);
  background-image: -webkit-gradient(linear, right top, left top, from(#743ad5), to(#d53a9d));
  background-image: linear-gradient(to left, #743ad5, #d53a9d);
  border-radius: 12px !important;
  margin: 0.625rem 0.625rem;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card {
  padding: 6px 12px !important;
  -webkit-box-flex: 100%;
      -ms-flex: 100%;
          flex: 100%;
}

.stats-card {
  padding: 6px 12px !important;
  -webkit-box-flex: 100%;
      -ms-flex: 100%;
          flex: 100%;
}

.sponsor-card {
  padding: 6px 12px !important;
  -webkit-box-flex: 100%;
      -ms-flex: 100%;
          flex: 100%;
  background-color: #abe9cd;
  background-image: -webkit-gradient(linear, right top, left top, from(#743ad5), to(#d53a9d));
  background-image: linear-gradient(to left, #743ad5, #d53a9d);
  border-radius: 12px !important;
  margin: 0.625rem 0.625rem;
  backdrop-filter: blur(16px) saturate(200%);
  -webkit-backdrop-filter: blur(16px) saturate(200%);
}

.pfp-card {
  padding: 6px 12px !important;
  -webkit-box-flex: 100%;
      -ms-flex: 100%;
          flex: 100%;
}

.pfp-card h4 {
  font-size: 20px;
  padding: 0;
  margin: 3px 0;
}

.pfp-card:hover .pfp-bio {
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
  color: white;
}

.pfp-bio {
  color: rgba(255, 255, 255, 0.644);
}

@media (min-width: 700px) {
  .card {
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
  }
  .stats-card {
    -webkit-box-flex: 30%;
        -ms-flex: 30%;
            flex: 30%;
  }
  .sponsor-card {
    -webkit-box-flex: 50%;
        -ms-flex: 50%;
            flex: 50%;
  }
  .pfp-card {
    -webkit-box-flex: 20%;
        -ms-flex: 20%;
            flex: 20%;
  }
}

@media (min-width: 1300px) {
  .card {
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
  }
  .stats-card {
    -webkit-box-flex: 10%;
        -ms-flex: 10%;
            flex: 10%;
  }
  .sponsor-card {
    -webkit-box-flex: 50%;
        -ms-flex: 50%;
            flex: 50%;
  }
  .pfp-card {
    -webkit-box-flex: 5%;
        -ms-flex: 5%;
            flex: 5%;
  }
}

.pfp {
  border-radius: 50%;
}

.border-gradient {
  border: 10px solid;
  border-image-slice: 1;
  border-width: 5px;
}

.border-gradient-purple {
  border-image-source: linear-gradient(315deg, #abe9cd 0%, #3eadcf 74%);
}

@media screen and (max-width: 540px) {
  .sponsor-card h1 {
    font-size: 1.5rem;
  }
}
/*# sourceMappingURL=style.css.map */